form.card {
    max-width: 700px;
    background-color: var(--black);
}
.card textarea, .card input {
    background-color: unset;
    border: 1px solid var(--lightgray);
    padding: 0.75rem;
    color: white;
    font-size: 1rem;
}
button {
    margin-top: 1rem;
}
button {
    margin-left: auto;
    display: inline-block;
    margin-right: .5rem;
}
form.card.editing {
    border: unset;
    padding: 0;
}
textarea.error {
    outline: 1px solid var(--error);
}