<app-header (ON_MESSAGE)="toggleInbox()"></app-header>
<main>
	<br *ngIf="!currentUser; then SHOW_LOGIN; else SHOW_APP">
	<ng-template #SHOW_LOGIN>
		<app-login class="card"></app-login>
		<app-registration class="card"></app-registration>
	</ng-template>
	<ng-template #SHOW_APP>
		<app-thread-list *ngIf="inboxVisible" (ON_CANCEL)="toggleInbox()"></app-thread-list>
		<app-message-box *ngIf="msgBoxVisible" [MESSAGE_FOR]="messageFor" (ON_CANCEL)="closeMessage()"></app-message-box>
		<app-post-list></app-post-list>
		<app-user-list (OPEN_MESSAGE)="openMessage($event)" ></app-user-list>
	</ng-template>
</main>
